@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  color: #21243d;
  font-size: 14px;
}
body._lock {
  overflow: hidden;
}

@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Light.woff2") format("woff2"), url("../fonts/Heebo-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-ExtraBold.woff2") format("woff2"), url("../fonts/Heebo-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-ExtraLight.woff2") format("woff2"), url("../fonts/Heebo-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Thin.woff2") format("woff2"), url("../fonts/Heebo-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-SemiBold.woff2") format("woff2"), url("../fonts/Heebo-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=_icon-]:before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=_icon-]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-Linkedin:before {
  content: "\e902";
}

._icon-tvit:before {
  content: "\e903";
}

* {
  font-family: Heebo;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}
@media (max-width: 868px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  padding: 50px 0px 0px 0px;
  flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .page {
    padding: 30px 0px 0px 0px;
  }
}

.header {
  position: relative;
  z-index: 100;
}
.header__content {
  max-width: 1052px;
  margin: 0 auto;
  padding: 0 6px;
}
.header__menu {
  padding: 10px 0;
  height: 82px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .header__menu {
    height: 50px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.08s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .menu__body._active {
    transform: translate(opx, 0%);
  }
}
.menu__list li {
  margin: 0 0 30px 0;
}
.menu__list li:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 767.98px) {
  .menu__list {
    margin: 0 33px 0 0px;
    display: flex;
  }
  .menu__list li {
    margin: 0 33px 0 0;
  }
}
.menu__link {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #FF6464;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.btn {
  display: inline-flex;
  background-color: #ff6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 145%;
  height: 47px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}
.btn:hover {
  background-color: #fc4848;
}
@media (min-widh: 992px) {
  .btn._fw {
    width: 100%;
  }
}

.hello {
  padding-top: 33px;
  padding-bottom: 70px;
}
@media (max-width: 868px) {
  .hello {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .hello {
    padding: 0px 0px 60px 0px;
  }
}
.hello__container {
  display: flex;
}
@media (max-width: 767.98px) {
  .hello__container {
    text-align: center;
    flex-direction: column-reverse;
  }
}
.hello__content {
  align-items: flex-start;
  flex: 1 1 auto;
  padding: 18px 110px 0 0;
}
.hello__content *:last-child {
  margin-bottom: 0;
}
@media (max-width: 868px) {
  .hello__content {
    padding: 18px 50px 0 0;
  }
}
@media (max-width: 767.98px) {
  .hello__content {
    padding: 0px 0px 0px 0;
  }
}
.hello__title {
  margin: 0 0 25px 0;
}
@media (max-width: 767.98px) {
  .hello {
    margin: 0px 0px 20px 0px;
  }
}
.hello__text {
  margin: 0 0 30px 0;
}
@media (max-width: 767.98px) {
  .hello {
    padding: 0 15px;
    margin: 0px 0px 25px 0px;
  }
}
.hello__btn {
  margin: 0 0 25px 0;
}
@media (max-width: 767.98px) {
  .hello {
    padding: 0px 0px 20px 0px;
  }
}
.hello__avatar {
  position: relative;
  flex: 0 0 243px;
  height: 242px;
  width: 242px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -7px 13px 0px 0px #ddf3fa;
}
.hello__avatar img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .hello__avatar {
    flex: 0 0 170px;
    height: 170px;
    width: 170px;
    margin-bottom: 40px;
  }
}

.recent-posts {
  background-color: #EDF7FA;
  padding: 25px 0px 13px 0px;
}
.recent-posts__header {
  display: flex;
  margin-bottom: 20px;
}
.recent-posts__title {
  padding: 0px 20px 0px 0px;
  flex: 1 1 auto;
}
.recent-posts__view-all {
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
}
@media (max-width: 767.98px) {
  .recent-posts__view-all {
    display: none;
  }
}
.recent-posts__items {
  margin: 0 -10px;
}
@media (min-width: 767.98px) {
  .recent-posts__items {
    display: flex;
  }
}
.recent-posts__colum {
  flex: 0 1 50%;
  padding: 0px 10px;
  margin-bottom: 17px;
}
.recent-post {
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}
@media (max-width: 767.98px) {
  .recent-post {
    padding: 15px;
  }
}
.recent-post *:last-child {
  margin-bottom: 0;
}
.recent-post__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 146.1538461538%;
  transition: color 0.03s ease 0s;
  display: inline-block;
  margin-bottom: 17px;
}
@media (min-width: 991.98px) {
  .recent-post__title:hover {
    color: #ff6464;
  }
}
@media (max-width: 767.98px) {
  .recent-post__title {
    font-size: 22px;
  }
}
.recent-post__info {
  font-size: 18px;
  line-height: 144.4444444444%;
  margin-bottom: 15px;
  font-size: 16px;
}
.recent-post__info span {
  margin: 0 10px;
}

.featured-works {
  padding-top: 30px;
  padding-bottom: 80px;
}
@media (max-width: 767.98px) {
  .featured-works {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .featured-works__items {
    display: flex;
    overflow: auto;
  }
}
.featured-works__title {
  margin-bottom: 20px;
}

.title {
  font-size: 44px;
  font-weight: 600;
  line-height: 60px;
  line-height: 145%;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.text, .article__text p {
  font-size: 16px;
  line-height: 23px;
  line-height: 145%;
}

.title-posts {
  font-size: 22px;
  color: #21243d;
}
@media (max-width: 767.98px) {
  .title-posts {
    text-align: center;
    font-size: 18px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.works__main-title {
  margin-bottom: 45px;
}
@media (max-width: 767.98px) {
  .works__main-title {
    margin-bottom: 20px;
  }
}
.works__item {
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
}
.works__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 767.98px) {
  .works__item {
    padding-right: 38px;
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .works__item {
    flex: 0 0 90%;
    margin-right: 15px;
  }
}
.works__image {
  flex: 0 0 246px;
  display: block;
  border-radius: 6px;
  min-height: 180px;
  padding-right: 18px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .works__image {
    padding-right: 0;
    padding-bottom: 5%;
  }
}
.works__body {
  flex: 1 1 auto;
}
.works__title {
  display: inline-block;
  margin-bottom: 15px;
  color: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 146.6666666667%;
}
@media (max-width: 767.98px) {
  .works__title {
    font-size: 24px;
  }
}
.works__info {
  display: flex;
  margin-bottom: 15px;
}
.works__year {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 25px;
  color: #fff;
  background: #142850;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
}
.works__category {
  margin-left: 25px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.footer {
  text-align: center;
  padding: 50px 0;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 10px 0px;
  }
}
.footer__social {
  margin-bottom: 25px;
}
.footer__copy {
  font-weight: 400;
  font-size: 14px;
}

.blog {
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .blog {
    padding-bottom: 30px;
  }
}
.blog__title {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .blog__title {
    margin-bottom: 20px;
  }
}
.blog__item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.blog__item:last-child {
  margin: 0;
}
@media (max-width: 767.98px) {
  .blog__item {
    margin-bottom: 25px;
    padding: 0px 0px 25px 0px;
  }
}
.blog__article-name {
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 146.6666666667%;
}
@media (min-width: 991.98px) {
  .blog__article-name:hover {
    color: #FF6464;
  }
}
@media (max-width: 767.98px) {
  .blog__article-name {
    font-size: 26px;
  }
}
.blog__info {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .blog__info {
    font-size: 16px;
  }
}
.blog__separator {
  margin: 0 15px;
}
.blog__category {
  color: #8695A4;
}
.article {
  max-width: 700px;
  padding: 0 10px;
  margin: 0 auto;
}
.article__title {
  font-size: 34px;
  line-height: 147.0588235294%;
  margin-bottom: 30px;
}
.article__info {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.article__year {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  border-radius: 16px;
  height: 25px;
  color: #fff;
  background-color: #ff6464;
}
.article__category {
  font-size: 20px;
  margin-left: 25px;
}
.article__text img {
  max-width: 100%;
  margin-bottom: 20px;
}

._active {
  color: #fc3f3f;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  margin: 0 17px;
  font-size: 30px;
  color: inherit;
  transition: color 0.03s ease 0s;
}
@media (min-width: 991.98px) {
  .social__item:hover {
    color: #ff6464;
  }
}